/* SCREEN WIDTH */

/* Above 2500  */
@media screen and (min-width: 2500px) {
  /* Navbar */
  nav ul {
    width: 25%;
  }
  nav h3 {
    margin-right: 45%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-columns: 28vw 23vw;
  }

  /* Work */
  /* .job-container {
    width: 38vw;
  } */

  /* Projects */
  #projects {
    grid-template-areas:
      "E E E E "
      "F G H I"
      "J K . .";
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* 2000 - 2500 px */
@media screen and (max-width: 2500px) {
  /* Navbar */
  nav ul {
    width: 25%;
  }
  nav h3 {
    margin-right: 45%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-columns: 28vw 23vw;
  }

  /* Projects */
  #projects {
    grid-template-areas:
      "E E E E "
      "F G H I"
      "J K . .";
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* 2000 - 1500 px */
@media screen and (max-width: 2000px) {
  /* Navbar */
  nav ul {
    width: 30%;
  }
  nav h3 {
    margin-right: 40%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-columns: 35vw 28vw;
  }

  /* Projects */
  #projects {
    grid-template-areas:
      "E E E"
      "F G H"
      "I J K";
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* 1500 - 1250 px */
@media screen and (max-width: 1500px) {
  /* Navbar */
  nav ul {
    width: 35%;
  }
  nav h3 {
    margin-right: 35%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-columns: 45vw 33vw;
  }

  /* Timeline */
  .timeline {
    width: 90vw;
  }

  /* Projects */
  #projects {
    grid-template-areas:
      "E E E"
      "F G H"
      "I J K";
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* 1250 - 1000 px */
@media screen and (max-width: 1250px) {
  /* Navbar */
  nav ul {
    width: 45%;
  }
  nav h3 {
    margin-right: 30%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-columns: 53vw 35vw;
  }

  /* Timeline */
  .timeline {
    width: 100vw;
  }

  /* Projects */
  #projects {
    grid-template-areas:
      "E E"
      "F G"
      "H I"
      "J K";
    row-gap: 50px;
  }

  /* Contact */
  #contact {
    flex-direction: column-reverse;
  }
  .form-container {
    width: 100vw;
  }
  .message-container {
    width: 100vw;
  }

  /* Blog Width */
  .blog-container {
    width: 60vw;
  }
  .article-container {
    width: 60vw;
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 1000 - 750 px */
@media screen and (max-width: 1000px) {
  /* Navbar Dropdown Trigger */
  body {
    overflow-x: hidden;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50px;
    right: 0px;
    height: 93vh;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  nav li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 5%;
  }
  nav h3 {
    margin-right: 50%;
  }

  /* About Me */
  .about-me-grid {
    grid-template-areas:
      "A"
      "C"
      "D"
      "B";
    grid-template-columns: 80vw;
  }
  #about-me h2 {
    margin-top: 30px;
  }
  #about-me p {
    text-align: center;
  }
  #about-me-buttons {
    margin-top: 30px;
  }
  #about-me button {
    margin: 10px;
  }
  .image-container[data-scroll="in"] {
    animation: float-up 1s ease-in-out;
  }
  #about-me button[data-scroll="in"] {
    animation: slide-right 1s ease-in-out;
  }

  /* Timeline */
  .timeline {
    width: 80vw;
  }
  .left-timeline-year {
    left: calc(10% + 10px);
  }
  .right-timeline-year {
    left: calc(10% + 10px);
  }

  /* Work */
  .timeline::after {
    left: 31px;
  }
  .job-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .right-job-container {
    left: 0;
  }
  .left-job-container img,
  .right-job-container img {
    left: 0;
  }
  .left-job-description-arrow,
  .right-job-description-arrow {
    border-right: 15px solid rgb(185, 208, 208);
    border-left: 0;
    left: -15px;
    top: 32px;
  }

  /* Contact */
  .input-row {
    flex-direction: column;
  }
  .input-group {
    margin-bottom: 10px;
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Under 750 px */
@media screen and (max-width: 750px) {
  /* Navbar */
  nav h3 {
    margin-right: 30%;
    font-size: 25px;
  }

  /* About Me */
  .image-container {
    height: 400px;
    width: 400px;
  }

  /* Work */
  /* .job-container {
    width: 80vw;
  } */

  /* Projects */
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-container {
    width: 75vw;
  }
  .project-image-container {
    height: auto;
    width: 70vw;
  }
  .project-image-container .tall-image {
    height: 0;
    width: 0;
  }
  .project-image-container .fat-image {
    height: 0;
    width: 0;
  }
  .project-description {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(184, 184, 184);
    height: 100%;
    position: static;
  }

  /* Blog Width */
  .blog-container {
    width: 80vw;
  }
  .article-container {
    width: 80vw;
  }
  .gal-image img {
    width: 50vw;
    height: auto;
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .bookshelf {
    width: 90vw;
  }
  .shelf-container {
    width: 82vw;
  }
  .book-grid {
    width: 78vw;
    grid-row-gap: 3.2rem;
  }
  .book-grid div {
    width: 100px;
  }
  .book-grid img {
    height: 150px;
  }
  .shelf-container {
    height: 175px;
  }

  .book-description {
    width: 85vw;
  }
}

/* Mobile (Under 500 px) */
@media screen and (max-width: 500px) {
  /* Navbar */
  nav h3 {
    margin-right: 20%;
    font-size: 25px;
  }
  .burger {
    display: block;
    margin-right: 10%;
  }

  /* About Me */
  .image-container {
    height: 350px;
    width: 325px;
  }

  /* Work */
  .job-container {
    flex-direction: column-reverse;
    padding: 1.5rem;
  }
  .job-container h3 {
    padding: 5px;
  }
  #work-exp img {
    position: absolute;
    top: 0px;
    left: 5px;
    border: 5px solid rgb(185, 208, 208);
  }
  #work-exp h1 {
    margin-bottom: 0;
  }

  .timeline {
    width: 100%;
  }
  .left-timeline-year {
    display: none;
  }
  .right-timeline-year {
    display: none;
  }
  .timeline::after {
    display: none;
  }
  .left-job-description-arrow {
    display: none;
  }
  .right-job-description-arrow {
    display: none;
  }

  /* Projects */
  .project-container {
    width: 90vw;
  }
  #projects {
    gap: 15px;
  }

  /* Contact */
  .submit-row p {
    margin-left: 20px;
  }

  /* Blog */
  .blog-container {
    width: 90vw;
  }
  .article-container {
    width: 90vw;
  }
  .blog-footer {
    width: 70vw;
  }
  .gal-image img {
    width: 59vw;
    height: auto;
  }

  /* Bookshelf */
  .book-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
