* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: rgb(197, 216, 214);
  z-index: 999;
}
nav h3 {
  color: rgb(95, 114, 126);
  letter-spacing: 2px;
  font-size: 30px;
  margin-right: 25%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(197, 216, 214);
}
nav li {
  list-style: none;
  font-size: 18px;
}
nav a {
  color: rgb(95, 114, 126);
  text-decoration: none;
}
nav img {
  height: 30px;
  transition-duration: 0.5s;
}
nav img:hover {
  cursor: pointer;
  height: 35px;
}

nav p {
  padding-bottom: 0.25rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(95, 114, 126);
  transition: 0.25s ease-out;
}
.underline:hover::before {
  width: 100%;
}

.burger {
  display: none;
}
.burger:hover {
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(95, 114, 126);
  margin: 5px;
  transition: all 0.3s ease;
}

/* About Me */
#about-me {
  background-color: antiquewhite;
  margin-top: 50px;
}

.about-me-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas:
    "A A"
    "B C"
    "B D";
}

#about-me h1 {
  font-size: 80px;
  margin-top: 3vh;
  text-align: center;
  grid-area: A;
}
.image-container {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
  overflow-y: hidden;
  grid-area: B;
}
.image-container[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}
.image-container a {
  cursor: default;
}
#about-me img {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.about-me-writeup {
  grid-area: C;
}
.about-me-writeup[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}
#about-me h2 {
  text-align: center;
  font-size: 50px;
}
#about-me p {
  margin-top: 2vh;
  font-size: 22px;
}
.about-me-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: D;
}
#about-me button {
  border: none;
  background-color: rgb(197, 216, 214);
  color: rgb(95, 114, 126);
  width: 300px;
  padding: 15px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.5s;
}
#about-me button[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}
#about-me button:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0, 0, 0, 0.24);
}
#about-me a {
  color: inherit;
  text-decoration: none;
}
#about-me button span {
  position: relative;
  transition-duration: 0.5s;
}
#about-me button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition-duration: 0.5s;
}
#about-me button:hover span {
  padding-right: 25px;
  transition-duration: 0.5s;
}
#about-me button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Work Experience */
#work-exp {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#work-exp h1 {
  font-size: 50px;
  margin: 30px 0px 50px 0px;
}
#work-exp h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}
#work-exp img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 2;
  transition: 0.5s;
}
#work-exp img:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.timeline {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: rgb(185, 208, 208);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
}
.left-timeline-year {
  position: relative;
  font-size: 50px;
  margin-top: 30px;
  left: calc(50% - 120px);
  z-index: 5;
  width: fit-content;
}
.right-timeline-year {
  position: relative;
  font-size: 50px;
  margin-top: 30px;
  left: calc(50% + 10px);
  z-index: 5;
  width: fit-content;
}

.job-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}
.left-job-container {
  left: 0;
}
.right-job-container {
  left: 50%;
}
.right-job-container img {
  left: -30px;
}

.job-description {
  padding: 20px 30px;
  background: rgb(185, 208, 208);
  position: relative;
  border-radius: 6px;

  left: 0;
  opacity: 1;
  transition: left 1s ease, opacity 1s ease;
}
.job-description h3 {
  font-size: 26px;
}
.job-description ul {
  margin-top: 15px;
}

.hidden-left {
  left: -100%;
  opacity: 0;
}
.hidden-right {
  left: 100%;
  opacity: 0;
}
.hidden-container {
  height: 80px;
}

.left-job-description-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(185, 208, 208);
  right: -15px;
}
.right-job-description-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(185, 208, 208);
  left: -15px;
}

.job-container:nth-child(2)[data-scroll="in"],
.job-container:nth-child(5)[data-scroll="in"],
.job-container:nth-child(8)[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}
.job-container:nth-child(4)[data-scroll="in"],
.job-container:nth-child(7)[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}

/* Projects */
#projects {
  background-color: rgb(95, 114, 126);
  padding: 30px;
  display: grid;
  justify-content: center;
  align-items: space-evenly;
  gap: 30px;
}
#projects h1 {
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 30px;
  grid-area: E;
}
#projects h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}
.project-container:nth-child(2) {
  grid-area: F;
}
.project-container:nth-child(3) {
  grid-area: G;
}
.project-container:nth-child(4) {
  grid-area: H;
}
.project-container:nth-child(5) {
  grid-area: I;
}
.project-container:nth-child(6) {
  grid-area: J;
}
.project-container:nth-child(7) {
  grid-area: K;
}
.project-container {
  width: 350px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(79, 109, 128);
  border-radius: 24px;
  transition-duration: 0.5s;
}
.project-container[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}
.project-container:hover {
  box-shadow: -6px 12px 16px 0 rgba(0, 0, 0, 0.5);
}
.project-container h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(213, 212, 212);
  margin-bottom: 10px;
}
.project-image-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}
.project-image-container .tall-image {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
  border-radius: 12px;
}
.project-image-container .fat-image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.project-description {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0px 15px;
  overflow: hidden;
  width: 100%;
  height: 0%;
  border-radius: 12px;
  transition: 0.5s ease;
}
.project-container:hover .project-description {
  height: 100%;
}
.project-description p {
  margin-top: 15px;
  font-size: 20px;
}
.project-languages {
  text-align: center;
  color: rgb(213, 212, 212);
}
.project-button {
  display: block;
  height: 30px;
  float: right;
  margin: 0px 10px;
  cursor: pointer;
}

/* ECs */
#ecs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
#ecs h1 {
  font-size: 50px;
  margin: 30px 0 50px 0;
}
#ecs h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}
.ecs-subtitle {
  width: 50vw;
  margin-bottom: 10px;
}
.ecs-subtitle h2 {
  text-align: left;
  font-size: 40px;
}
.ecs-subtitle h2[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}

#ecs img {
  width: 120px;
  margin-left: 30px;
}

/* Contact */
#contact {
  background-color: rgba(22, 22, 103, 0.829);
  display: flex;
}
.form-container {
  height: 100%;
  width: 65%;
  background-color: white;
  padding: 50px;
}
.form-container h1 {
  color: rgba(22, 22, 103, 0.829);
  margin-bottom: 30px;
  font-size: 40px;
}
.message-container {
  height: 100%;
  width: 35%;
  padding: 50px;
  color: whitesmoke;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
.submit-row {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.submit-row a {
  all: initial;
}
.submit-row a:hover {
  cursor: pointer;
}
form button {
  background: rgba(22, 22, 103, 0.829);
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  transition-duration: 0.5s;
}
form button:hover {
  color: rgba(22, 22, 103, 0.829);
  background: white;
  border: 5px rgba(22, 22, 103, 0.829);
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  cursor: pointer;
}

.message-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.message-container p {
  margin-bottom: 20px;
}
.message-container table {
  font-size: 18px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}

.form-container *[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}
.message-container *[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}

/* * {
  outline: 1px solid red;
}

#work-exp {
  outline: 2px solid blue;
}

.timeline {
  outline: 2px solid green;
}

.job-container {
  outline: 2px solid purple;
} */
