/* Navbar Updates */
nav {
  background-color: rgb(18, 76, 77);
}
nav p {
  color: rgb(216, 210, 210);
}
nav h3 {
  color: rgb(216, 210, 210);
}
nav ul {
  background-color: rgb(18, 76, 77);
}
.burger div {
  background-color: rgb(216, 210, 210);
}

/* Ultralearning Page */
body {
  background-color: rgba(39, 46, 52, 0.939);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 100%;
  background-color: rgb(39, 46, 52);
}
.body-container h1 {
  font-size: 50px;
  margin: 30px 0px 50px 0px;
  color: rgb(216, 210, 210);
}
.body-container h2 {
  font-size: 30px;
  color: rgb(216, 210, 210);
  margin-bottom: 20px;
}
.body-container p {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  color: rgb(216, 210, 210);
  font-size: 20px;
}
.body-container a {
  text-decoration: none;
  color: rgb(178, 178, 244);
}
.body-container img {
  width: 90%;
}
.body-container li {
  color: rgb(216, 210, 210);
  font-size: 20px;
  width: 90%;
  margin: auto;
}
.body-container iframe {
  width: 60%;
  height: 300px;
  margin-bottom: 40px;
}

.ul-container {
  background-color: rgb(18, 76, 77);
  padding: 30px;
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}
.ul-container:hover {
  background-color: rgb(12, 49, 50);
  transition: 0.5s;
}
.ul-container[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}
.ul-container img {
  border-radius: 20px;
  height: 150px;
  margin: 10px;
}

.ul-desc h2 {
  color: whitesmoke;
  font-size: 30px;
}
.ul-desc p {
  color: whitesmoke;
  padding: 0px;
  font-size: 17px;
}
