* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7vh;
  background-color: rgb(197,216,214);
}

nav h3 {
  color: rgb(95, 114, 126);
  letter-spacing: 2px;
  font-size: 30px;
  font-style: bold;
  margin-right: 25%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}

nav li {
  list-style: none;
  font-size: 18px;
}

nav a {
  color: rgb(95, 114, 126);
  text-decoration: none;
  font-weight: bold;
}

nav img {
  height: 30px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

nav *:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (min-width: 1250px) {
  nav ul {
    width: 40%;
  }
  nav h3 {
    margin-right: 30%
  }
}
@media screen and (min-width: 1500px) {
  nav ul {
    width: 35%;
  }
  nav h3 {
    margin-right: 35%;
  }
}
@media screen and (min-width: 1750px) {
  nav ul {
    width: 30%;
  }
  nav h3 {
    margin-right: 40%;
  }
}
@media screen and (min-width: 2000px) {
  nav ul {
    width: 25%;
  }
  nav h3 {
    margin-right: 45%;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 7vh;
    right: 0px;
    height: 93vh;
    width: 50%;
    transform: translateX(100%);
    background-color: rgb(197,216,214);;
    transition: transform 0.5s ease-in;
  }
  nav li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 5%;
  }
  nav h3 {
    margin-right: 60%;
  }
}

/* About Me */
.about-me {
  background-color: antiquewhite;
  margin-top: 7vh;
}

.about-me-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
    'A A'
    'B C'
    'B D'
    'B E';
  grid-template-columns: 80vh 50vh;
}

.about-me h1 {
  font-size: 90px;
  margin-top: 3vh;
  text-align: center;
  grid-area: A;
}
.image-container {
  height: 76vh;
  overflow-y: hidden;
  animation: slide-right 2s ease-in-out;
  grid-area: B;
}
.about-me img {
  height: 100vh;
  display: block;
  float: left;
}
.about-me-writeup {
  animation: slide-left 2s ease-in-out;
  grid-area: C;
}
.about-me h2 {
  text-align: center;
  font-size: 50px;
}
.about-me p {
  margin-top: 2vh;
  font-size: 20px;
}
.button1 {
  grid-area: D;
}
.button2 {
  grid-area: E;
}

.about-me button {
  border: none;
  background-color: rgb(197,216,214);;
  color: rgb(95, 114, 126);
  width: 300px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 30px;
  transition-duration: 0.5s;

  animation: slide-left 2s ease-in-out;
}

.about-me button:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0,0,0,0.24)
}

.about-me button span {
  position: relative;
  transition-duration: 0.5s;
}

.about-me button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition-duration: 0.5s;
}

.about-me button:hover span {
  padding-right: 25px;
  transition-duration: 0.5s;
}

.about-me button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 1000px) {
  .about-me-grid {

  } 
}

/* Animations */
.nav-active {
  transform: translateX(0%);
}

@keyframes nav-fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger-toggle .burger-line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-toggle .burger-line-2 {
  opacity: 0;
}
.burger-toggle .burger-line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes float-up {
  from {
    opacity: 0; 
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
  }
  to {opacity: 100}
}

@keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
  }
  to {opacity: 100}
}

@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
  }
  to {opacity: 100}
}