* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
header {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  height: 50px;
  background-color: rgb(19, 19, 67);
  color: white;

  display: flex;
  justify-content: right;
  align-items: center;
}

header * {
  margin: 10px;
}

header *:hover {
  color: rgb(44, 176, 213);
  cursor: pointer;
  transition-duration: 0.5s;
}

.navbar-icon {
  height: 30px;
}

/* Homepage Flexbox */
.homepage-flexbox {
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 19, 67);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-flexbox h1 {
  font-size: 80px;
  padding: 0px 50px;
}

.homepage-flexbox p {
  font-size: 30px;
  margin-top: 30px;
  padding: 0px 50px;
}

/* Homepage Buttons (another flexbox) */
.homepage-flexbox div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.homepage-flexbox button {
  border: none;
  background-color: rgb(37, 37, 127);
  color: white;
  width: 300px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 30px;
  transition-duration: 0.5s;

  -webkit-animation: float-up 7s ease-in-out 0s 1 normal;
  -moz-animation: float-up 7s ease-in-out 0s 1 normal;
}

.homepage-flexbox button:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0,0,0,0.24)
}

.homepage-flexbox button span {
  position: relative;
  transition-duration: 0.5s;
}

.homepage-flexbox button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition-duration: 0.5s;
}

.homepage-flexbox button:hover span {
  padding-right: 25px;
  transition-duration: 0.5s;
}

.homepage-flexbox button:hover span:after {
  opacity: 1;
  right: 0;
}

@media (max-width: 1200px) {
  .homepage-flexbox div {
    flex-direction: column;
    margin-top: 30px;
  }
}

@media (max-width: 830px) {
  .homepage-flexbox h1 {
    font-size: 60px;
    text-align: left;
  }

  .homepage-flexbox p {
    font-size: 25px;
    text-align: left;
  }
}

/* Portfolio Slideshow */
.slideshow {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.slideshow section {
  height: 100vh;
  scroll-snap-align: start;
}

.slideshow section:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.233);
}
.background-right {
  background-color: gray;
  height: 100%;
  width: 50%;
  float: right;  
}

.slideshow section:nth-child(2) {
  background-color: rgba(0, 0, 255, 0.344);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideshow section:nth-child(3) {
  background-color: rgba(0, 0, 255, 0.491);
}

/* About Me */
.about-me-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.selfie-container {
  height: 100vh;
  width: 100vh;
}
.selfie {
  height: 80%;
  width: auto;
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.about-me-text {
  height: 100vh;
  width: 100vh;
  display: block;

  background-color: rgba(62,67,68,254);
  color: white;
}
.about-me-title {
  display: block;
  margin-top: 35vh;
  text-align: center;
  font-size: 50px;
}
.about-me-body {
  display: block;
  padding: 4vh;
  font-size: 20px;
}


@media (max-width: 930px) {
  .selfie {
    height: 60%;
    margin-top: 45%;
  }
}

@media (max-width: 700px) {
  .selfie {
    height: 40%;
    margin-top: 80%;
  }
}



/* Animations */
@keyframes float-up {
  0% {
    opacity: 0; 
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
  }
  50% {
    opacity: 0; 
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
  }
  100% {opacity: 100}
}