* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 7vh;
  background-color: rgb(197,216,214);
  z-index: 999;
}

nav h3 {
  color: rgb(95, 114, 126);
  letter-spacing: 2px;
  font-size: 30px;
  margin-right: 25%;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

nav li {
  list-style: none;
  font-size: 18px;
}

nav a {
  color: rgb(95, 114, 126);
  text-decoration: none;
}

nav img {
  height: 30px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

nav *:hover {
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (min-width: 1250px) {
  nav ul {
    width: 40%;
  }
  nav h3 {
    margin-right: 30%
  }
}
@media screen and (min-width: 1500px) {
  nav ul {
    width: 35%;
  }
  nav h3 {
    margin-right: 35%;
  }
}
@media screen and (min-width: 1750px) {
  nav ul {
    width: 30%;
  }
  nav h3 {
    margin-right: 40%;
  }
}
@media screen and (min-width: 2000px) {
  nav ul {
    width: 25%;
  }
  nav h3 {
    margin-right: 45%;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 7vh;
    right: 0px;
    height: 93vh;
    width: 50%;
    transform: translateX(100%);
    background-color: rgb(197,216,214);;
    transition: transform 0.5s ease-in;
  }
  nav li {
    opacity: 0;
  }
  .burger {
    display: block;
    margin-right: 5%;
  }
  nav h3 {
    margin-right: 50%;
  }
}
@media screen and (max-width: 650px) {
  nav h3 {
    margin-right: 30%;
    font-size: 25px;
  }
}

/* About Me */
#about-me {
  background-color: antiquewhite;
  margin-top: 7vh;
}

.about-me-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
    'A A'
    'B C'
    'B D';
}

#about-me h1 {
  font-size: 80px;
  margin-top: 3vh;
  text-align: center;
  grid-area: A;
}

.image-container {
  position: relative;
  height: 500px;
  width: 500px;
  margin: auto;
  overflow-y: hidden;
  grid-area: B;
}
.image-container[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}
#about-me img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.about-me-writeup {
  grid-area: C;
}
.about-me-writeup[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}
#about-me h2 {
  text-align: center;
  font-size: 50px;
}
#about-me p {
  margin-top: 2vh;
  font-size: 22px;
}

.about-me-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: D;
}
#about-me button {
  border: none;
  background-color: rgb(197,216,214);;
  color: rgb(95, 114, 126);
  width: 300px;
  padding: 15px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.5s;
}
#about-me button[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}
#about-me button:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0,0,0,0.24)
}
#about-me a {
  color: inherit;
  text-decoration: none;
}
#about-me button span {
  position: relative;
  transition-duration: 0.5s;
}
#about-me button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition-duration: 0.5s;
}
#about-me button:hover span {
  padding-right: 25px;
  transition-duration: 0.5s;
}
#about-me button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 2000px) {
  .about-me-grid {
    grid-template-columns: 28vw 23vw;
  }
}

@media screen and (max-width: 2000px) {
  .about-me-grid {
    grid-template-columns: 35vw 28vw;
  }
}

@media screen and (max-width: 1600px) {
  .about-me-grid {
    grid-template-columns: 45vw 33vw;
  }
}

@media screen and (max-width: 1250px) {
  .about-me-grid {
    grid-template-columns: 53vw 35vw;
  }
}

@media screen and (max-width: 1000px) {
  .about-me-grid {
    grid-template-areas: 
      "A"
      "C"
      "D"
      "B";
    grid-template-columns: 80vw;
  }
  #about-me h2 {
    margin-top: 30px;
  }
  #about-me p {
    text-align: center;
  }
  #about-me-buttons {
    margin-top: 30px;
  }
  #about-me button {
    margin: 10px;
  }
  .image-container[data-scroll="in"] {
    animation: float-up 1s ease-in-out;
  }
  #about-me button[data-scroll="in"] {
    animation: slide-right 1s ease-in-out;
  }
}

@media screen and (max-width: 700px) {
  .image-container {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-height: 700px) {
  #about-me h1 {
    font-size: 70px;
  }
  #about-me h2 {
    font-size: 30px;
  }
  #about-me p {
    font-size: 20px;
  }
}

/* Work Experience */
#work-exp {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work-exp h1 {
  font-size: 50px;
  margin: 30px 0px 50px 0px;
}
#work-exp h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}

.job-container {
  display: flex;
  width: 50vw;
  align-items: center;
  margin-bottom: 50px;
}

.job-container:last-child {
  margin-bottom: 50px;
}

.job-container h3 {
  font-size: 26px;
}

.job-container p {
  margin-top: 20px;
}

#work-exp img:nth-child(odd) {
  height: 100px;
  margin-right: 20px;
}

#work-exp img:nth-child(even) {
  height: 100px;
  margin-left: 3vw;
}

.job-container:nth-child(odd)[data-scroll="in"] {
  animation: slide-left 1s ease-in-out;
}

.job-container:nth-child(even)[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .job-container {
    width: 65vw;
  }
}

@media screen and (max-width: 600px) {
  .job-container {
    width: 80vw;
  }
}

/* Projects */
#projects {
  background-color: rgb(95, 114, 126);
  padding: 30px;
  display: grid;
  justify-content: center;
  align-items: space-evenly;
  gap: 30px;
}

#projects h1 {
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 30px;
  grid-area: E;
}
#projects h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}
.project-container:nth-child(2) {
  grid-area: F;
}
.project-container:nth-child(3) {
  grid-area: G;
}
.project-container:nth-child(4) {
  grid-area: H;
}
.project-container:nth-child(5) {
  grid-area: I;
}
.project-container:nth-child(6) {
  grid-area: J;
}

.project-container {
  width: 350px;
  height: auto;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(79, 109, 128);
  border-radius: 24px;
  transition-duration: 0.5s;
}
.project-container[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}

.project-container:hover {
  cursor: pointer;
  box-shadow: -6px 12px 16px 0 rgba(0,0,0,0.5)
}

.project-container h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(213, 212, 212);
  margin-bottom: 10px;
}

.project-image-container {
  position: relative;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

.project-image-container img {
  display: block;
  margin: auto;
  height: 100%;
}

.project-description {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0px 15px;
  overflow: hidden;
  width: 100%;
  height: 0%;
  transition: 0.5s ease;
}

.project-container:hover .project-description {
  height: 100%;
}

.project-description p {
  margin-top: 15px;
  font-size: 20px;
}

.project-languages {
  text-align: center;
  color: rgb(213, 212, 212);
}

.project-button {
  display: block;
  height: 30px;
  float: right;
  margin: 0px 10px;
}

@media screen and (min-width: 2000px) {
  #projects {
    grid-template-areas:
      "E E E E E"
      "F G H I J"
  }
}

@media screen and (max-width: 2000px) {
  #projects {
    grid-template-areas:
      "E E E E"
      "F G H I"
      "J . . .";
  }
}

@media screen and (max-width: 1600px) {
  #projects {
    grid-template-areas:
      "E E E"
      "F G H"
      "I J ."
  }
}

@media screen and (max-width: 1200px) {
  #projects {
    grid-template-areas:
      "E E"
      "F G"
      "H I"
      "J .";
    row-gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-container {
    width: 75vw;
  }
  .project-image-container {
    height: auto;
    width: 70vw;
  }
  .project-image-container img {
    height: 0;
    width: 0;
  }
  .project-description {
    background-color: rgba(0, 0, 0, 0);;
    color: rgb(184, 184, 184);
    height: 100%;
    position: static;
  }
}

/* Contests */
#ecs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

#ecs h1 {
  font-size: 50px;
  margin: 30px 0 50px 0;
}
#ecs h1[data-scroll="in"] {
  animation: float-up 1s ease-in-out;
}

.ecs-subtitle {
  width: 50vw;
  margin-bottom: 10px;
}

.ecs-subtitle h2 {
  text-align: left;
  font-size: 40px;
}
.ecs-subtitle h2[data-scroll="in"] {
  animation: slide-right 1s ease-in-out;
}

#ecs img:nth-child(odd) {
  height: 100px;
  margin-right: 20px;
}

#ecs img:nth-child(even) {
  height: 100px;
  margin-left: 3vw;
}

/* Contact */
#contact {
  background-color: rgba(22, 22, 103, 0.829);
  display: flex;
}
.form-container {
  height: 100%;
  width: 65%;
  background-color: white;
  padding: 50px;
}
.form-container h1 {
  color: rgba(22, 22, 103, 0.829);
  margin-bottom: 30px;
  font-size: 40px;
}
.message-container {
  height: 100%;
  width: 35%;
  padding: 50px;
  color: whitesmoke;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
form button {
  background: rgba(22, 22, 103, 0.829);
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  transition-duration: 0.5s;
}
form button:hover {
  color: rgba(22, 22, 103, 0.829);
  background: white;
  border: 5px rgba(22, 22, 103, 0.829);
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  cursor: pointer;
}

.message-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.message-container p {
  margin-bottom: 20px;
}
.message-container table {
  font-size: 18px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}

@media screen and (max-width: 900px) {
  .input-row {
    flex-direction: column;
  }
  .input-group {
    margin-bottom: 10px;
  }
}

/* Animations */
.nav-active {
  transform: translateX(0%);
}

@keyframes nav-fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger-toggle .burger-line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.burger-toggle .burger-line-2 {
  opacity: 0;
}
.burger-toggle .burger-line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes float-up {
  from {
    opacity: 0; 
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
  }
  to {opacity: 100}
}

@keyframes slide-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
  }
  to {opacity: 100}
}

@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
  }
  to {opacity: 100}
}