/* Navbar colour overrides */
nav {
  background-color: rgb(226, 226, 226);
}
nav p {
  color: black;
}
nav h3 {
  color: black;
}
nav ul {
  background-color: rgb(226, 226, 226);
}
.burger div {
  background-color: rgb(216, 210, 210);
}

/* Body colour overrides */
body {
  background-color: rgb(218, 213, 213);
}
.body-container {
  background-color: rgb(30, 29, 29);
  height: 100vh;
}
